body {
    font-family: "Open Sans", sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4 {
    font-family: "Staatliches", sans-serif;
  }
  
  img {
    height: 50px;
    width: 50px;
  }
    
  ul {
    list-style-type: none;
    padding-left: 10px;
  }

  li {
    padding: 5px 0;
  }